body{
    border-block-start-style: outset;
    border-color: rgb(240, 177, 82);
    background-color: rgb(0, 0, 0);
    font-size: large;
    color: rgb(240, 177, 82);
    border-color: rgb(240, 177, 82);
}
h1{
    color: rgb(255, 255, 255);
}
span{
    color: rgba(240, 177, 82,0.7); font-weight: bold; font-size: small;
}
button{
    color: black;
    background-color: rgb(240, 177, 82);
}